#users {
	text-align: left; 
}

.error {
	color: #ff2324;
	text-align: center;
	margin-top: 15px;
	font-weight: bold;

}

.row img {
  float: left;
  clear: left;
  margin-right: 20px;
  margin-bottom: 40px;
}

.row {
  float: left;
  clear: left;
}

.row p {
  padding: 10px;
}